.sudoku-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;


        p {
            color: $main-blue;
            font-weight: 600;
            font-size: 1em;
            cursor: pointer;
        }

        button {
            cursor: pointer;
            background-color: #EAEEF4;
            border-radius: 50px;
            border: 0;
            padding: 1.5em;

            i {
                color: $main-blue;
                font-size: 1.5em;
            }
        }

        button:hover {
            background-color: #DCE3ED;
        }
    }
}