.sudoku-table {
    table {
        border-collapse: collapse;

        tr {
            td {
                width: 45px;
                height: 40px;
                font-size: 1.5em;
                text-align: center;

                >* {
                    cursor: default;
                }


                input {
                    border: 0;
                    outline: 0;
                    width: 35px;
                    height: 35px;
                    font-size: 1em;
                    text-align: center;
                    caret-color: transparent;

                }

                .num {
                    color: $main-blue;
                }

                .wrong {
                    color: #E55C6C;
                }


            }

            td:focus {
                outline: 0;
            }

            .mark {
                background-color: #E2EBF3;

                input {
                    background-color: #E2EBF3;
                }
            }

            .chosen {
                background-color: #BBDEFB;

                input {
                    background-color: #BBDEFB;
                }
            }

            .hint {
                animation: fadeHint 5s ease-in-out;
                background-color: rgba(52, 199, 89, 0.5);
            }
            
          
            

            .same-num {
                background-color: #C3D7EA;

                input {
                    background-color: #C3D7EA;
                }
            }

            div {
                height: 100%;
            }

            .note-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 100%;

                span {
                    font-size: 0.4em;
                    color: #6E7C8C;
                    height: 10px;
                }
            }
        }
    }

    td {
        border: 1px solid #BFC6D4;
    }

    tr:nth-child(3n) td {
        border-bottom: 2px solid #344861;
    }

    tr:nth-child(1) td {
        border-top: 2px solid #344861;
    }

    tr:nth-last-child(1) td {
        border-bottom: 2px solid #344861;
    }

    td:nth-child(3n) {
        border-right: 2px solid #344861;
    }

    td:nth-child(1) {
        border-left: 2px solid #344861;
    }

    td:nth-last-child(1) {
        border-right: 2px solid #344861;
    }
}

@keyframes fadeHint {
    0% {
        background-color: rgba(52, 199, 89, 0.5); /* Start with green highlight */
    }
    100% {
        background-color: transparent; /* Fade out to transparent */
    }
}