.sudoku-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    >*{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        color: $light-gray;
        font-weight: 600;
        margin: 0;
        font-size: 1.5em;
        margin-inline: 0.4em;
       

        span {
            color: $dark-gray;
            margin-inline: 0.5em;
        }
    }
    p:last-of-type{
        width: 60px;
    }

    button {
        background-color: #EAEEF4;
        border-radius: 50px;
        border: 0;
        padding: 0.6em 0.9em;
        cursor: pointer;
        width: 35px;
        height: 35px;
    }

    button:hover {
        background-color: #DCE3ED;
    }

}