.sudoku-diff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    button, h3, p{
        background-color: white;
        color: $dark-gray;
        border: 0;
        font-weight: 600;
        margin: 0;
        font-size: 1.1em;
        margin-inline: 0.1em;
        padding: 0.3em;
        border-radius: 10px;
    }
    button:hover{
        background-color: #EAEEF4;
       
    }

    h3{
        color: $light-gray;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        position: relative;
        padding: 0;
        cursor: default;
    }

    button{
        cursor: pointer;
        padding-block: 0.4em;
    }
    
    .chosen{
        color: $main-blue;
    }


}